<%= form_for([@hotel, @room, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field" id="date1" name="date1">
    <%= f.label :arrived_at %><br />
    <%= f.date_field :arrived_at, class: 'datepicker' %>
  </div>
  
  <div class="field" id="date2" name="date2">
    <%= f.label :leaved_at %><br />
    <%= f.date_field :leaved_at, class: 'datepicker' %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '<%= DateTime.current %>',
  });
</script>