<h1><%= @hotel.name %></h1>
<h1><%= @room.name %></h1>
<h1><%= @room.price %></h1> 
<h1><%= @reservation.arrived_at %></h1>
<h1><%= @reservation.leaved_at %></h1> 

<%= render 'form' %>

<%= link_to 'Back', hotel_path(@hotel) %>
