<div class="formulaire_center formulaire_margin3">
  <div class="bloc">
      <h2>Reservation de votre chambre</h2>
        <h3><%= @hotel.name %> à <%= @hotel.address %></h3>
        <h3><%= @room.name %></h3>
        <h3>Prix : <%= @room.price %> $</h3> 
        <h1><%= @reservation.arrived_at %></h1>
        <h1><%= @reservation.leaved_at %></h1> 
        <%= render 'form' %>
        <%= link_to 'Retour', hotel_path(@hotel) %>
    </div>
</div>
