<p id="notice"><%= notice %></p>
<div class="list-group">
    
  <a href="#" class="list-group-item active">
        <div class='text-center'>
            <h1 class="list-group-item-heading"><%= @hotel.name %></h1>
            <p class="list-group-item-text"><p><%= @hotel.description %></p></p>
        </div>    
            <%= image_tag @hotel.photo(:medium) %>
    
          <% if user_signed_in? && current_user.sup_admin? %>
          
            <%= link_to  'Retour', hotels_path %> |

            <%= link_to 'Ajouter une chambre', new_hotel_room_path(@hotel) %> |  

            <%= link_to "Modifier l'hôtel", edit_hotel_path(@hotel) %>

            
          <% elsif user_signed_in? && current_user.admin? %>
          
            <%= link_to  'Retour', hotels_path %> |
            
            <%= link_to 'Ajouter une chambre', new_hotel_room_path(@hotel) %> |
            
            <%= link_to "Modifier l'hôtel", edit_hotel_path(@hotel) %>
          
          <% else %>
        
            <%= link_to  'Retour', hotels_path %>
        
          <% end %> 
 
  </a>

  
</div>
<% if @hotel.rooms.size > 0 %>
    <ul>
        <% @hotel.rooms.each do |room| %>
        
            <div class="list-group">
                
                <% if user_signed_in? && current_user.sup_admin? %>
                
                 <div class="row text-center">
                    <div class="col-xs-12 col-md-3 col-md-offset-4 text-center">
                        <div class="panel panel-success panel-pricing">
                            <div class="panel-body text-center">               
                                <table>
                                    <tr>    
                                        <td>
                                            
                                            <%= link_to edit_hotel_room_path(@hotel, room) do %>
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <% end %>
                                            
                                            <%= link_to hotel_room_path(@hotel, room), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            <% end %>
    
                                            <a href="#" class="list-group-item disabled"><%= room.name %></a>
                                            <a href="#" class="list-group-item disabled"><%= room.description %></a>
                                            <a href="#" class="list-group-item disabled"><%= room.price %>€</a>
                                            <a href="#" class="list-group-item disabled"><%= image_tag room.photo(:medium) %></a>
                                            <%= link_to 'Nouvelle reservation', new_hotel_room_reservation_path(@hotel, room)%>
                                            
                                         </td>
                                      </tr> 
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
                <% elsif user_signed_in? && current_user.admin? %>
                <div class="row text-center">
                    <div class="col-xs-12 col-md-3 col-md-offset-4 text-center">
                        <div class="panel panel-success panel-pricing">
                            <div class="panel-body text-center">               
                                <table>
                                    <tr>    
                                        <td>
                                            <%= link_to edit_hotel_room_path(@hotel, room) do %>
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            <% end %>
                                            <%= link_to hotel_room_path(@hotel, room), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                               <% end %>

                                            <a href="#" class="list-group-item disabled"><%= room.name %></a>
                                            <a href="#" class="list-group-item disabled"><%= room.description %></a>
                                            <a href="#" class="list-group-item disabled"><%= room.price %>€</a>
                                            <a href="#" class="list-group-item disabled"><%= image_tag room.photo(:medium) %></a>

                                            <%= link_to 'Nouvelle reservation', new_hotel_room_reservation_path(@hotel, room)%>
                                         </td>
                                      </tr> 
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
                <% else %>
                <div class="row text-center">
                    <div class="col-xs-12 col-md-3 col-md-offset-4 text-center">
                        <div class="panel panel-success panel-pricing">
                            <div class="panel-body text-center">               
                                <table>
                                    <tr>    
                                        <td>
                                            <a href="#" class="list-group-item disabled"><%= room.name %></a>
                                            <a href="#" class="list-group-item disabled"><%= room.description %></a>
                                            <a href="#" class="list-group-item disabled"><%= room.price %>€</a>
                                            <a href="#" class="list-group-item disabled"><%= image_tag room.photo(:medium) %></a>
                                            <%= link_to 'Nouvelle reservation', new_hotel_room_reservation_path(@hotel, room)%>
                                         </td>
                                      </tr> 
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>

                <% end %>
            </div>
        <% end %>
    </ul>
<% else %>
    <h4 class="list-group-item-heading"><p></p>No room already exists</p></h4>
<% end %>
